@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local('JetBrainsMono-Medium'), url('../fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter var';
    font-style: normal;
    font-display: swap;
    font-weight: '100 900';
    src: local('Inter-roman.var-latin'), url('../fonts/Inter-roman.var-latin.woff2?3.13') format('woff2');
}

@font-face {
    font-family: 'Inter var';
    font-style: italic;
    font-display: swap;
    font-weight: '100 900';
    src: local('Inter-roman.var-latin'), url('../fonts/Inter-italic.var-latin.woff2?3.13")') format('woff2');
}

.anchor {
    @apply text-blue-500 absolute ml-2 pr-1 !important;
}

.anchor {
    visibility: hidden;
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    visibility: visible;
}
